
@import "variables.scss";
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

// html {
//   height: 100%;
// }

.newClassToBody {
  background-color: $white;
  background-size: cover;
  }

body {
  // background: linear-gradient(135deg, $white, $white);
  font-family: 'Open Sans Condensed', sans-serif;
  color: $dark;
  margin: 0;

  .index {
    .title {
      margin: 2em 4em;
      &-h1, &-span, &-pro {
        color: $purple;
        font-size: 10em;
        margin: 0;
        font-family: 'Abril Fatface', cursive;
        font-weight: lighter;
        @media screen and (max-width: 1000px) {
          font-size: 3em;
        }
      }
      &-span {
        display: block;
        margin-bottom: 1em;
      }
      &-pro {
        font-size: 5em;
        width: 30%;
      }
    }
  }

  h2, h1 {
    color: $purple;
    font-family: 'Abril Fatface', cursive;
    font-weight: lighter;
  }

  h1 {
    font-size: 8em;
  }

  footer {
    text-align: center;
    margin: 2em auto;
  }
}

.button {
  background: white;
  transition: color 1s;
  font-family: 'Open Sans Condensed', sans-serif;
  color: $sec;
  border: 1px solid $sec;
  font-size: 2em;
  padding: 0.2em 3em;
  cursor: pointer;

  @media screen and (max-width: 1024px) {
    padding: 0.1em 1.5em;
  }
}
