
@import "variables.scss";
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

html {
  height: 100%;
}

.newClassToBody {
  background-color: $white;
  background-size: cover;
  overflow: hidden;

  h1 {
    color: $purple;
  }
}

body {
  // background: linear-gradient(135deg, $white, $white);
  font-family: 'Open Sans Condensed', sans-serif;
  color: $dark;

  .index {
  }

  h2, h1 {
    color: $purple;
    font-family: 'Abril Fatface', cursive;
    font-weight: lighter;
  }

  h1 {
    font-size: 8em;
    @media screen and (max-width: 1000px) {
      font-size: 5em;
    }
  }
}
