@import "/variables.scss";

.scrollInfo {
  text-align: center;
  z-index: 98;
  color: $grey;
  font-size: 1.5em;
  position: absolute;
  left: calc(50% - 2em);
  top: 3em;
  @media screen and (max-width: 1024px) {
    display: none;
  }
}
