$petrol: #65799b;
$purple: #3d3560;
$pink: #934461;
$pink2: #a04083;
$dark: #383838;
$grey: #949da8;
$white: #f7f7f7;
$gold: #c4ab73;
$backG: linear-gradient(135deg, #65799b 0%,#5e2563 100%);
$main: #3d2b3b;
$sec: #df3940;
