$petrol: #65799b;
// $purple: #3d3560;
$purple: #3d2b3b;
$pink: #934461;
$pink2: #a04083;
$dark: #2d2d2d;
$grey: #919ba5;
$white: #FFF;
$backG: linear-gradient(135deg, #65799b 0%,#5e2563 100%);

/* test */
$main: #3d3560;
$sec: #de3940;

$gradient: linear-gradient(135deg, #622774 0%,#87439e 100%);
