@import "/variables.scss";

.work {
  width: 90%;
  margin: 1em auto;
  @media screen and (max-width: 1024px) {
    margin: auto;
  }
}

.carousel {

  &-active {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-off {
    display: none;
  }
}

.workblock {
  display: flex;
  flex-direction: row;
  // border: 1px solid $grey;
  padding: 2em 3em 0;
  overflow: hidden;
  max-height: 792px;

  @media screen and (max-width: 1024px) {
    width: 100%;
    padding: 0;
    margin: 1em 0 0 0;
    flex-direction: column;
    align-items: center;
    max-height: none;
  }

  &-left {
    width: 50%;
    position: relative;
    @media screen and (max-width: 1024px) {
      width: 100%;
    }

    &-info {
      padding: 1em 5em 0em 1em;
      background: white;
      @media screen and (max-width: 1024px) {
        width: 90%;
        padding: 0;
        margin: auto;
      }

      &-number {

        .sliding {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          align-items: center;
          margin-bottom: 2em;
          color: $purple;
        }

        &-number {
          color: $purple;
          font-weight: bold;
          margin: 0;
        }

        .activeindex {
          overflow: hidden;
          font-weight: bolder;
          display: flex;
          font-size: 1.5em;

          :first-child {
            padding-right: 0.2em;
            color: $sec;
          }

          :last-child {
            color: $purple;
          }

          @media screen and (max-width: 1024px) {
            font-size: 1.5em;
          }
        }
      }


      &-info {
        overflow: hidden;
        font-size: 1.5em;
        @media screen and (max-width: 1024px) {
          font-size: 1.5em;
        }
      }

      &-title {
        overflow: hidden;
        margin: -3em 0 3em;
        @media screen and (max-width: 1024px) {
          margin-bottom: 1em;
        }

        h2 {
          overflow: hidden;
          font-size: 6em;
          font-weight: normal;
          margin: .5em 0;
          @media screen and (max-width: 1024px) {
            margin: 0.5em 0;
            font-size: 3em;
          }
        }

        div {
          width: 20%;
          height: 0.5em;
          background: $purple;
          @media screen and (max-width: 1024px) {
            height: 0.2em;
            width: 30%;
          }
        }

      }

      .info-block {
        display: flex;
        overflow: hidden;
        font-size: 1.5em;

        @media screen and (max-width: 1024px) {
          width: 100%;
          padding: 0;
          font-size: 1.5em;
        }

        .type {
          overflow: hidden;
          margin-right: 3em;
          :last-child {
            @media screen and (max-width: 1024px) {
              margin: -0.5em 0;
            }
          }
        }

        .info-title {
          color: $purple;
          font-size: 1.2em;
          @media screen and (max-width: 1024px) {
            margin: 0 0 0.5em;
          }
        }

        .info-techno {
          list-style: none;
          padding: 0;
          @media screen and (max-width: 1024px) {
            margin: 0 0 0.5em;
          }

          li {
            overflow: hidden;
            margin-bottom: 0.5em;

            @media screen and (max-width: 1024px) {
              margin: -0.5em 0;
            }
          }
        }
      }

      p, li {
        font-size: 1em;
        color: $grey;
      }
    }

  }

  &-right {
    width: 50%;
    margin: 5em auto;
    @media screen and (max-width: 1024px) {
      width: 100%;
      margin: 1em auto;
    }

    img {
      width: 100%;
    }
  }
}

.button-link {
  margin: 0 auto 5em;
}
.translateText {
  position: relative;
  top: 5em;
}
.example-enter {
  opacity: 0.1;
  transform: translateY(5em) scale(1);
}
.example-enter-active {
  opacity: 1;
  transform: translateY(0em) scale(1);
  transition: all 1000ms ease-out;
}
.example-exit {
  opacity: 1;
  transform: translateY(0em) scale(1);
}
.example-exit-active {
  opacity: 1;
  transform: translateY(5em) scale(1);
  transition: all 1000ms ease-in;
}

.barre-enter {
  opacity: 1;
  transform: translateX(-15em) scale(1);
}
.barre-enter-active {
  opacity: 1;
  transform: translateX(0em) scale(1);
  transition: all 1000ms ease-out;
}
.barre-exit {
  opacity: 1;
  transform: scale(1.25);
}
.barre-exit-active {
  opacity: 0;
  transform: translateX(-15em) scale(1);
  transition: all 1000ms ease-in;
}
.image-enter {
  opacity: 1;
  transform: translateX(70em) scale(1);
}
.image-enter-active {
  opacity: 1;
  transform: translateX(0em) scale(1);
  transition: all 1000ms ease-out;
}
.image-exit {
  opacity: 1;
  transform: scale(1);
}
.image-exit-active {
  opacity: 0;
  transform: translateX(70em) scale(1);
  transition: all 1000ms ease-in;
}
