@import "variables.scss";

.index {
  width: 100%;
  margin: auto;
  @media screen and (max-width: 1024px) {
    width: 100%;
  }

  h4 {
    font-size: 2.5em;
    margin: 0;
    color: $main;
    text-transform: uppercase;
  }

  p, li {
    font-size:1.5em;
    color: $grey;
  }

  h2 {
    font-size: 5em;
    margin: 1em 1em;
    @media screen and (max-width: 1024px) {
      font-size: 2.5em;
      margin: 1em 0.5em;
    }
  }
}

.main {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 3em auto 0;

  @media screen and (max-width: 1024px) {
    flex-direction: column;
    width: 90%;
  }

  &-right {
    margin: 0 auto;
    @media screen and (max-width: 1024px) {
      width: 80%;
    }

    h1 {
      position: relative;
      top: -0.3em;
      right: 1em;
      font-size: 7em;
      @media screen and (max-width: 1024px) {
        font-size: 3em;
        margin: 0;
        position: inherit;
      }
    }

    p {
      position: relative;
      top: -2.5em;
      right: 2em;
      color: $grey;
      font-size: 2em;
      width: 80%;
      margin: 1em auto;

      @media screen and (max-width: 1024px) {
        font-size: 1.5em;
        position: inherit;
      }

      a {
        margin-left: 0.8em;
      }

      .link p {
        color: $purple;
      }
    }
  }

  &-left {
    img {
      width: 60em;
      margin: auto;
      @media screen and (max-width: 1024px) {
        width: 100%;
        margin-bottom: 1em;
      }
    }
  }
}

.border {
  height: 50%;
  width: 10em;
  background: $purple;
  content: '';
}

.infos {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 1024px) {
    flex-direction: column-reverse;
    margin: auto;
    width: 100%;
  }

  &-infos {
    padding: 5em;
    width: 50%;
    @media screen and (max-width: 1024px) {
      width: 70%;
      padding: 1em;
      margin: 0 auto;
    }

    @media screen and (min-width: 1024px) {
      p, li {
        font-size: 1.8em;
      }
    }

    ul {
      list-style: none;
      padding: 0;
    }

    h4 {
      font-family: 'Abril Fatface', cursive;
      font-weight: lighter;
      font-size: 3em;
      @media screen and (max-width: 1024px) {
        font-size: 1.8em;
      }
    }
  }

  &-img {
    width: 50%;
    @media screen and (max-width: 1024px) {
      width: 100%;
    }
    img {
      max-width: 100%;
    }
  }
}

.mac-pic {
  width: 60%;
  margin: 3em auto;
  display: block;
  @media screen and (max-width: 1024px) {
    width: 100%;
  }
}

.resp {
  margin-bottom: 10em;
  @media screen and (max-width: 1024px) {
    margin: 0 auto 5em;
    width: 100%;
  }

  &-pics {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 1024px) {
      width: 100%;
      margin: auto;
    }
    .info {
      display: flex;
      flex-direction: row;
      width: 80%;
      margin: auto;
      @media screen and (max-width: 1024px) {
        flex-direction: column;
        width: 100%;
        margin: 0.5em auto;
      }

      &:nth-child(2) {
        flex-direction: row-reverse;
        @media screen and (max-width: 1024px) {
          flex-direction: column;
        }
      }

      &-info {
        display: flex;
        margin: auto;
        align-self: center;
        justify-content: center;
        flex-direction: column;
        overflow: hidden;
        @media screen and (max-width: 1024px) {
          margin: 1em auto;
          padding-left: 1em;
          align-self: flex-start;
          width: 90%;
        }

        .border {
          width: 0;
          height: 0.5em;
        }

        .block {
          position: relative;
          top: -10em;

          &-info {
            font-size: 2.5em;
            text-transform: uppercase;
            font-weight: bolder;

            @media screen and (max-width: 767px) {
              font-size: 1em;
            }
          }
        }

      }
      &-pics {
        overflow: hidden;
        width: 50%;
        @media screen and (max-width: 1024px) {
          width: 100%;
        }
        .mac {
          width: 100%;
          position: relative;
          top: -50em;
          @media screen and (max-width: 1024px) {
            width: 100%;
            margin: auto;
          }
        }
        .tab {
          width: 100%;
          position: relative;
          top: -50em;
          @media screen and (max-width: 1024px) {
            width: 100%;
            margin: auto;
          }
        }
        .phone {
          width: 100%;
          position: relative;
          top: -50em;
          @media screen and (max-width: 1024px) {
            width: 100%;
          }
        }
      }
    }
  }
}

.border {
  height: 0.7em;
  width: 100%;
  background: $gradient;
  margin-bottom: 2em;
  @media screen and (max-width: 1024px) {
    margin-bottom: 1em;
  }
}

.dev {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  @media screen and (max-width: 1024px) {
    width: 90%;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }

  &-info-nophone {
    width: 60%;
    height: 60%;
    display: flex;
    @media screen and (max-width: 1024px) {
      width: 90%;
      margin: auto;
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }

    .info-mac {
      width: 100%;
      height: 50%;
      @media screen and (max-width: 1024px) {
        width: 100%;
        height: 50%;
        margin-bottom: 1em;
      }
    }
  }

  &-info {
    width: 50%;
    height: 60%;
    display: flex;
    @media screen and (max-width: 1024px) {
      width: 100%;
      margin: auto;
      align-items: center;
      justify-content: space-around;

      .info-phone {
        margin: 1em;

        @media screen and (max-width: 1024px) {
          width: 50%;
        }
      }
    }

    &-right-nophone {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin-left: 1em;

      @media screen and (max-width: 1024px) {
        flex-direction: row;
        margin-left: 0;
      }
      .info {
        display: flex;
        flex-direction: column;
        overflow: hidden;

        @media screen and (max-width: 1024px) {
          width: 30%;
        }

        .line {
          background: $gradient;
          height: 0.3em;
          width: 0;
        }

        p {
          width: 70%;
          position: relative;
          top: -7em;
          color: $dark;
          font-weight: bold;

          @media screen and (max-width: 767px) {
            width: 100%;
            font-size: 1em;
          }
        }
      }
    }

    &-right {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin-left: 1em;

      @media screen and (max-width: 1024px) {
        margin-left: 0;
      }
      .info {
        display: flex;
        flex-direction: column;
        overflow: hidden;

        @media screen and (max-width: 1024px) {
          width: 90%;
          margin: 0.5em 0;
        }

        .line {
          background: $gradient;
          height: 0.3em;
          width: 0;
        }

        p {
          width: 70%;
          position: relative;
          top: -7em;
          color: $dark;
          font-weight: bold;

          @media screen and (max-width: 767px) {
            width: 70%;
            font-size: 1em;
          }
        }
      }
    }
  }
}

.technos {
  margin-bottom: 5em;
  width: 30%;

  @media screen and (max-width: 1024px) {
    margin-bottom: 1em;
    width: 90%;
  }

  &-list {
    width: 100%;
    margin: 2em 8em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    @media screen and (max-width: 1024px) {
      margin: 1em auto;
      flex-flow: row wrap;
      width: 100%;
    }

    h4 {
      font-size: 2.5em;
      text-transform: uppercase;
      font-weight: bolder;
      @media screen and (max-width: 1024px) {
        margin: 0;
      }
    }

    .icons {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin: 1.5em 2em;
      width: 40%;
      @media screen and (max-width: 1024px) {
        margin: 1em 0.5em;
        width: 40%;
      }

      p {
        margin: 0.3em 0;
        @media screen and (max-width: 1024px) {
          margin: 0.5em 0;
        }
      }

      :nth-child(1) {
        align-self: center;
      }
    }
  }
}
